---
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  // Get all files from src/pages/blog/content
  const glob = import.meta.glob("./content/*.mdx", { eager: true });

  const paths = Object.entries(glob).map(([path, module]) => {
    // Extract filename from path:
    // './content/2024-10-08 months-without-music.mdx'
    // -> '2024-10-08 months-without-music'
    const filename = path.split("/").pop()?.replace(".mdx", "") || "";
    // Extract slug from filename:
    // '2024-10-08 months-without-music' -> 'months-without-music'
    const slug = filename.split(" ").slice(1).join("-");

    return {
      params: { slug },
      props: {
        module,
        filename,
      },
    };
  });

  return paths;
}

interface Props {
  module: any;
}

const { module } = Astro.props;
const { default: Content, frontmatter } = module;
const postTitle = frontmatter?.postTitle || "Blog post";
---

<Layout pageTitle={postTitle}>
  <h1>{postTitle}</h1>
  <Content />
</Layout>
